<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.team.mappers.attendance">

	<!-- 글 등록 -->
	<insert id="insert">
		insert into tbl_attendance
			(attend_no, attend_check, userno)
		values
			(seq_attendance_attendno.nextval, 'y', #{userno})
	</insert>

</mapper>