<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.team.mappers.cinema">
	
	<!-- 영화관 생성 -->
	<insert id="insertCinema">
		insert into tbl_cinema(
			cinema_no,
			cinema_name,
			cinema_address,
			cinema_regdate,
			cinema_chgdate,
			cinema_status
		) values (
			seq_cinema_no.nextval,
			#{cinema_name},
			#{cinema_address},
			sysdate,
			sysdate,
			#{cinema_status, jdbcType=VARCHAR}
		)
	</insert>
	
	<!-- 영화관 코드 얻어내기 -->
	<select id="selectCinemaCode" resultType="String">
		select cinema_code from tbl_cinema
		where cinema_no = #{cinema_no}
	</select>
	
	
	<!-- 영화관 리스트 조회 (지역별, 영화별) -->
	<select id="selectCinemaList" resultType="CinemaVo">
		select * from tbl_cinema
		<choose>
			<when test="search_column == 'movie_code'">
				where cinema_no in (
					select cinema_no from tbl_cinema_room
					where room_no in (
						select room_no from tbl_room_timeline
						where ${search_column} = #{search_data}
					)
				)
				and 
			</when>
			<when test="search_column == 'cinema_address'">
				where ${search_column} like '${search_data}%'
				and 
			</when>
			<when test="search_column == null">
				where
			</when>
			<otherwise>
				where ${search_column} like '%${search_data}%'
				and 
			</otherwise>
		</choose>
		cinema_status = 1
		order by ${order_column} ${order_type}
	</select>
	
	<!-- 영화관 정보 조회 -->
	<select id="selectCinema" resultType="CinemaVo">
		select * from tbl_cinema
		where cinema_no = #{cinema_no}
	</select>
	
	<!-- 영화관 정보 수정 -->
	<update id="updateCinemaInfo">
		update tbl_cinema set
			cinema_name		= #{cinema_name},
			cinema_address	= #{cinema_address},
			cinema_chgdate	= sysdate,
			cinema_status	= #{cinema_status, jdbcType=VARCHAR}
		where cinema_no 	= #{cinema_no}
	</update>
	
	<!-- 영화관 상태 변경 -->
	<update id="updateCinemaStatus">
		update tbl_cinema set
			cinema_chgdate	= sysdate,
			cinema_status	= #{cinema_status, jdbcType=VARCHAR}
		where cinema_no		= #{cinema_no}
	</update>
</mapper>