<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.team.mappers.cinema">

	<insert id="insertCinema">
		insert into tbl_cinema(
			cinema_no,
			cinema_name,
			cinema_address,
			cinema_seat_count,
			cinema_status,
			cinema_begin_date,
			cinema_finish_date
			)
		values(
			seq_cinema_no.nextval,
			#{cinema_name},
			#{cinema_address},
			#{cinema_seat_count},
			#{cinema_status, jdbcType=varchar},
			#{cinema_begin_date, jdbcType=varchar},
			#{cinema_finish_date, jdbcType=varchar}
			)
	</insert>
	
	
	
	
	
<!-- 	<update id="updateCinemaInfo"> -->
	
<!-- 	</update> -->
	
	
	
	
	
<!-- 	<select id="getCinemaList"> -->
	
<!-- 	</select> -->
	
	
	
	
	
<!-- 	<select id="getCinemaInfo"> -->
	
<!-- 	</select> -->
	
	
	
	
	
<!-- 	<update id="updateCinemaStatus"> -->
	
<!-- 	</update> -->

</mapper>