<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.team.mappers.event">

	<!-- 글 등록 -->
	<insert id="insert">
		insert into tbl_event
			(event_no, event_title, event_content, event_image, event_end_date, event_start_date)
		values
			(seq_event_eventno.nextval, #{event_title}, #{event_content}, 
			#{event_image, jdbcType=VARCHAR}, #{event_end_date, jdbcType=DATE}, #{event_start_date, jdbcType=DATE})
	</insert>
	
	<!-- 글 수정 -->
	<update id="modify">
		update tbl_event set
			event_title = #{event_title},
			event_content = #{event_content},
			event_image = #{event_image, jdbcType=VARCHAR},
			event_end_date = #{event_end_date, jdbcType=DATE},
			event_start_date = #{event_start_date, jdbcType=DATE}
		where event_no = #{event_no}
	</update>
	
	<!-- 글 삭제 -->
	<delete id="delete">
		delete from tbl_event
		where event_no = #{event_no}
	</delete>
	
	<!-- 글 전체 목록 -->
	<select id="list" resultType="EventVo">
		select * from 
			(select rownum rnum, a.* from
				(select * from tbl_event
				<include refid="search"></include>) a)
		where rnum between #{startRow} and #{endRow}
	</select>
	
	<!-- 현재 진행중 목록 -->
	<select id="nowEventlist" resultType="EventVo">
		select * from 
	    	(select rownum rnum, a.* from
				(select * from tbl_event
					where event_start_date <![CDATA[<=]]> sysdate
					and event_end_date <![CDATA[>=]]> sysdate
					<include refid="search2"></include>) a)
		where rnum between #{startRow} and #{endRow}
	</select>
	
	<!-- 지난 이벤트 목록 -->
	<select id="lastEventlist" resultType="EventVo">
	select * from 
	    	(select rownum rnum, a.* from
				(select * from tbl_event
					where event_end_date <![CDATA[<]]> sysdate
					<include refid="search2"></include>) a)
	where rnum between #{startRow} and #{endRow}
	</select>
	
	<!-- 글 읽기 -->
	<select id="readContent" resultType="EventVo">
		select * from tbl_event
		where event_no = #{event_no}
	</select>
	
	<!-- 조회수 증가 -->
		<update id="viewConuntUpdate">
			update tbl_event set
				event_count = event_count + 1
			where event_no = #{event_no}
		</update>
		
		<!-- 글 갯수 -->
	<select id="getCount" resultType="int">
		select count(*) from tbl_event
		<include refid="search"></include>
	</select>
	
	<!-- 글 갯수 -->
	<select id="getEventCount" resultType="int">
		select count(*) from tbl_event
		<include refid="search"></include>
	</select>
	
	<!-- 검색 조건 -->
		<sql id="search">
			<if test="searchType != null and keyword != null">
    			<choose>
    				<when test='searchType == "t"'>
    					where event_title like '%' || #{keyword} || '%'
    				</when>
    				<when test='searchType == "c"'>
    					where event_content like '%' || #{keyword} || '%'
    				</when>
    				<when test='searchType == "tc"'>
    					where event_title like '%' || #{keyword} || '%'
    					or    event_content like '%' || #{keyword} || '%'
    				</when>
    			</choose>
    		</if> 
		</sql>
		
		<!-- 검색 조건2 -->
		<sql id="search2">
			<if test="searchType != null and keyword != null">
    			<choose>
    				<when test='searchType == "t"'>
    					and event_title like '%' || #{keyword} || '%'
    				</when>
    				<when test='searchType == "c"'>
    					and event_content like '%' || #{keyword} || '%'
    				</when>
    				<when test='searchType == "tc"'>
    					and event_title like '%' || #{keyword} || '%'
    					or event_content like '%' || #{keyword} || '%'
    				</when>
    			</choose>
    		</if> 
		</sql>
		
		<!-- 현재 진행중 글 갯수 -->
	<select id="getCountNow" resultType="int">
		select count(*) from tbl_event
		where event_start_date <![CDATA[<=]]> sysdate
		and event_end_date <![CDATA[>=]]> sysdate
		<include refid="search2"></include>
	</select>
	
	<!-- 지난 이벤트 글 갯수 -->
	<select id="getCountLast" resultType="int">
		select count(*) from tbl_event
		where event_end_date <![CDATA[<]]> sysdate
		<include refid="search2"></include>
	</select>
</mapper>