<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.team.mappers.message">
	
	<!-- 메세지 내역 추가 -->
	<insert id="insertMessage">
		insert into
			tbl_message(messageno, groupno, sender, receiver, message_file, message_title, message_content)
		values
			(
				#{messageno}, 
				#{messageno},
				#{sender},
				#{receiver},
				#{message_file, jdbcType=VARCHAR},
				#{message_title},
				#{message_content},
			)
	</insert>
	
	<!-- 답장 메세지 추가 -->
	<insert id="insertReplyMessage">
		insert into
			tbl_message(messageno, groupno, sender, receiver, message_file, message_title, message_content, re_seq, re_level)
		values
			(
				#{messageno}, 
				#{groupno},
				#{sender},
				#{receiver},
				#{message_file, jdbcType=VARCHAR},
				#{message_title},
				#{message_content},
				#{re_seq} + 1,
				#{re_level} + 1
			)
	</insert>
	
	<!-- 보낸 메세지 조회 -->
	<select id="selectSenderMessageList" resultType="MessageVo">
		select * from tbl_message
		where sender = #{sender} and sender_delete = 'F'
		order by message_date desc, re_seq asc, re_level asc		
	</select>
	
	<!-- 받는 메세지 조회 -->
	<select id="selectReceiverMessageList" resultType="MessageVo">
		select * from tbl_message
		where receiver = #{receiver} and receiver_delete = 'F'
		order by message_date desc, re_seq asc, re_level asc		
	</select>
	
	<!-- 보낸 메세지 수 조회 -->
	<select id="selectSenderMessageCount" resultType="int">
		select count(*) from tbl_message
		where sender = #{sender} and sender_delete = 'F'
	</select>
	
	<!-- 받는 메세지 수 조회 -->
	<select id="selectReceiverMessageCount" resultType="int">
		select count(*) from tbl_message
		where receiver = #{receiver} and receiver_delete = 'F'
	</select>
	
	<!-- 메세지 번호로 메세지 조회 -->
	<select id="selectMessageByMessageno" resultType="MessageVo">
		select * from tbl_message
		where messageno=#{messageno}
	</select>

	<!-- 메세지 번호 얻기 -->
	<select id="selectMessageno" resultType="Integer">
		select seq_message_messageno.nextval from dual
	</select>
	
	<!-- 답장 메세지 보낼 시 메세지 순서 변경 -->
	<update id="updateReSeq">
		update tbl_message set re_seq = re_seq + 1
		where groupno = #{groupno} and re_seq > #{re_seq}
	</update>
	
	<!-- 메세지를 처음 읽었을 떄 읽은 날짜 설정 -->
	<update id="updateReadDate">
		update tbl_message 
			set read_date = sysdate
		where messageno = #{messageno}
	</update>
			
	<!-- 보내는 이가 메세지 내역 삭제 -->
	<update id="deleteMessageBySender">
		update tbl_message
			set sender_delete = 'T'
		where messageno = #{messageno} 
	</update>	
	
	<!-- 받는 이가 메세지 내역 삭제 -->
	<update id="deleteMessageByReceiver">
		update tbl_message
			set receiver_delete = 'T'
		where messageno = #{messageno}
	</update>	
</mapper>