<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.team.mappers.message">
	
	<!-- 메세지 내역 추가 -->
	<insert id="insertMessage">
		insert into
			tbl_message(messageno, groupno, sender, receiver, message_file, message_title, message_content)
		values
			(
				#{messageno}, 
				#{messageno},
				#{sender},
				#{receiver},
				#{message_file, jdbcType=VARCHAR},
				#{message_title},
				#{message_content}
			)
	</insert>
	
	<!-- 받는 메세지 조회 -->
	<select id="selectSenderMessageList" resultType="MessageVo">
		select * from tbl_message
		where sender = #{sender}
		order by message_date desc		
	</select>
	
	<!-- 보낸 메세지 조회 -->
	<select id="selectReceiverMessageList" resultType="MessageVo">
		select * from tbl_message
		where receiver = #{receiver}
		order by message_date desc		
	</select>
	
	<!-- 메세지 번호로 메세지 조회 -->
	<select id="selectMessageByMessageno" resultType="MessageVo">
		select * from tbl_message
		where messageno=#{messageno}
	</select>

	<!-- 메세지 번호 얻기 -->
	<select id="selectMessageno" resultType="Integer">
		select seq_message_messageno.nextval from dual
	</select>
		
	<!-- 메세지 내역 삭제 -->
	<delete id="deleteMessage">
		delete from tbl_message
		where sender=#{sender} and receiver=#{receiver}
	</delete>	
</mapper>