<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.kh.team.mappers.movie">
	
	<!-- 유수연 영화 리스트  -->
	<select id="movieList" resultType="MovieVo">
		select * from tbl_movie
		order by opening_date desc
	</select>
	
	<!-- 유수연 현재 상영중 영화 -->
	<select id="movieListIng" resultType="MovieVo">
		select * from tbl_movie
		where opening_date <![CDATA[<=]]> sysdate and endding_date > sysdate 
            or  opening_date <![CDATA[<=]]> sysdate and endding_date is null
		order by opening_date desc
	</select>
	
	<!-- 유수연 현재 상영예정 영화 -->
	<select id="movieListSoon" resultType="MovieVo">
		select * from tbl_movie
		where opening_date <![CDATA[>]]> sysdate and endding_date > sysdate 
            or  opening_date <![CDATA[>]]> sysdate and endding_date is null
		order by opening_date desc
	</select>
	
	<!-- 유수연 영화 상세보기  -->
	<select id="movieInfoByMovieCode" resultType="MovieVo">
		select * from tbl_movie
		where movie_code = #{movie_code}
	</select>
	
	
</mapper>