<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.kh.team.mappers.moviecomment">
	
	<!-- 유수연 영화별 코멘트 입력  -->
	<insert id="commentInsert">
		insert into tbl_movie_comment(cno, movie_code, userid, movie_comment)
		values(seq_movie_comment_cno.nextval, #{movie_code}, #{userid}, #{movie_comment, jdbcType=VARCHAR})
	</insert>
	
	<!-- 유수연 영화별 코멘트 리스트  -->
	<select id="commentList" resultType="MovieCommentVo">
		select * from tbl_movie_comment
		where movie_code = #{movie_code}
		order by cno desc
	</select>
	
	<!-- 유수연 영화별 코멘트 수정 -->
	<update id="commentUpdate">
		update tbl_movie_comment set
			movie_comment = #{movie_comment}
		where cno = #{cno}
	</update>
	
	<!-- 유수연 영화별 코멘트 삭제  -->
	<delete id="commentDelete">
		delete tbl_movie_comment
		where cno = #{cno}
	</delete>
	
</mapper>