<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.kh.team.mappers.movie">
	
	<!-- 유수연 영화 리스트  -->
	<select id="movieList" resultType="MovieVo">
		select * from tbl_movie
		order by opening_date desc
	</select>
	
	<!-- 유수연 영화 리스트  -->
	<select id="movieListsetion" resultType="MovieVo">
		select * from 
			(select rownum rnum, a.* from
				(select * from tbl_movie
				order by opening_date desc) a)
		where rnum between #{startRow} and #{endRow}
		
	</select>
	
	<!-- 유수연 현재 상영중 영화-->
	<select id="movieListIng" resultType="MovieVo">
		select * from tbl_movie
		where opening_date <![CDATA[<=]]> sysdate and endding_date > sysdate 
            or  opening_date <![CDATA[<=]]> sysdate and endding_date is null
		order by opening_date desc
	</select>
	
	<!-- 유수연 현재 상영중 영화 -->
	<select id="movieListIngsetion" resultType="MovieVo">
		select * from 
			(select rownum rnum, a.* from
				(select * from tbl_movie
				where opening_date <![CDATA[<=]]> sysdate and endding_date > sysdate 
           		or  opening_date <![CDATA[<=]]> sysdate and endding_date is null
				order by opening_date desc) a)
		where rnum between #{startRow} and #{endRow}
	</select>
	
	<!-- 유수연  상영예정 영화 -->
	<select id="movieListSoon" resultType="MovieVo">
		select * from tbl_movie
		where opening_date <![CDATA[>]]> sysdate and endding_date > sysdate 
            or  opening_date <![CDATA[>]]> sysdate and endding_date is null
		order by opening_date asc
	</select>
	
	<!-- 유수연 상영예정 영화 -->
	<select id="movieListSoonsetion" resultType="MovieVo">
		select * from 
			(select rownum rnum, a.* from
				(select * from tbl_movie
				where opening_date <![CDATA[>]]> sysdate and endding_date > sysdate 
           		or  opening_date <![CDATA[>]]> sysdate and endding_date is null
				order by opening_date asc) a)
		where rnum between #{startRow} and #{endRow}
	</select>
	<!-- 유수연 영화 상세보기  -->
	<select id="movieInfoByMovieCode" resultType="MovieVo">
		select * from tbl_movie
		where movie_code = #{movie_code}
	</select>
	
	<!-- 영화 존재여부 -->
	<select id="movieInfoByMovieCodeExist" resultType="int">
		select count(*) from tbl_movie
  		where movie_code = #{movie_code}
	</select>
	
	<!-- 임희열 : 전체 영화 수 -->
	<select id="getCountTotalMovie" resultType="int">
		select count(*) from tbl_movie
	</select>
	
	<!-- 임희열 : 장르별 영화 수 -->
	<select id="getCountMovieGroupByGenre" resultType="map">
		select count(*) "count", movie_genre "movie_genre"
		from tbl_movie 
		group by movie_genre
	</select>
	
	<!-- 유수연 해시태그별 검색 영화 리스트  -->
	<select id="movieListHashTag" resultType="MovieVo">
		select * from tbl_movie
		where ${sType} = #{keyword}
		order by opening_date desc
	</select>
	
	<!-- 유수연 영화 전체 검색  -->
	<select id="SearchMoviehome" resultType="MovieVo">
		select * from tbl_movie
		where movie_name like  '%'||#{keyword}||'%'
            or movie_name_en like  '%'||#{keyword}||'%'
             or movie_genre like  '%'||#{keyword}||'%'
              or movie_director like  '%'||#{keyword}||'%'
               or movie_actors like  '%'||#{keyword}||'%'
	</select>
	
</mapper>