<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.team.mappers.review">

	<!-- 글 등록 -->
	<insert id="insert">
		insert into tbl_review
			(review_no, review_writer, review_title, review_content, review_star, userno)
		values
			(seq_review_winnerno.nextval, #{review_writer} , #{review_title}, #{review_content}, #{review_star}, #{userno})
	</insert>
	
	<!-- 글 수정 -->
	<update id="modify">
		update tbl_review set
			review_title = #{review_title},
			review_content = #{review_content},
			review_star = #{review_star}
		where review_no = #{review_no}
	</update>

	<!-- 글 삭제 -->
	<delete id="delete">
		delete from tbl_review
		where review_no = #{review_no}
	</delete>
	
	<!-- 글 목록 -->
	<select id="list" resultType="ReviewVo">
		select * from 
			(select rownum rnum, a.* from
				(select * from tbl_review
				<include refid="search"></include>
				order by review_no desc) a)
		where rnum between #{startRow} and #{endRow}
	</select>
	
	<!-- 글 읽기 -->
	<select id="readContent" resultType="ReviewVo">
		select * from tbl_review
		where review_no = #{review_no}
	</select>
	
	<!-- 조회수 증가 -->
		<update id="viewConuntUpdate">
			update tbl_review set
				review_viewcnt = review_viewcnt + 1
			where review_no = #{review_no}
		</update>
		
	<!-- 글 갯수 -->
	<select id="getCount" resultType="int">
		select count(*) from tbl_review
		<include refid="search"></include>
	</select>
	
	<!-- 검색 조건 -->
		<sql id="search">
			<if test="searchType != null and keyword != null">
    			<choose>
    				<when test='searchType == "t"'>
    					where review_title like '%' || #{keyword} || '%'
    				</when>
    				<when test='searchType == "c"'>
    					where review_content like '%' || #{keyword} || '%'
    				</when>
    				<when test='searchType == "w"'>
    					where review_writer like '%' || #{keyword} || '%'
    				</when>
    				<when test='searchType == "tc"'>
    					where review_title like '%' || #{keyword} || '%'
    					or    review_content like '%' || #{keyword} || '%'
    				</when>
    				<when test='searchType == "tcw"'>
    					where review_title like '%' || #{keyword} || '%'
    					or    review_content like '%' || #{keyword} || '%'
    					or    review_writer like '%' || #{keyword} || '%'
    				</when>
    			</choose>
    		</if> 
		</sql>
		
		<!-- 관리자 게시글 삭제 -->
		<update id="adminDelete">
		update tbl_review set
			review_title = #{review_title},
			review_content = #{review_content},
			review_star = #{review_star},
			admin_delete = #{admin_delete}
		where review_no = #{review_no}
	</update>
	
		<!-- 내가 참여한 리뷰 게시글만 보이게 하기 -->
	<select id="myReviewList" resultType="ReviewVo">
		select * from 
    		(select rownum rnum, a.* from
        		(select * from tbl_review
        		where userno = #{userno}
        		<include refid="search2"></include>) a)
		where rnum between 1 and 5
	</select>

		<!-- 검색 조건2 -->
		<sql id="search2">
			<if test="searchType != null and keyword != null">
    			<choose>
    				<when test='searchType == "t"'>
    					and review_title like '%' || #{keyword} || '%'
    				</when>
    				<when test='searchType == "c"'>
    					and review_content like '%' || #{keyword} || '%'
    				</when>
    				<when test='searchType == "w"'>
    					and review_writer like '%' || #{keyword} || '%'
    				</when>
    				<when test='searchType == "tc"'>
    					and review_title like '%' || #{keyword} || '%'
    					or    review_content like '%' || #{keyword} || '%'
    				</when>
    				<when test='searchType == "tcw"'>
    					and review_title like '%' || #{keyword} || '%'
    					or    review_content like '%' || #{keyword} || '%'
    					or    review_writer like '%' || #{keyword} || '%'
    				</when>
    			</choose>
    		</if> 
		</sql>

</mapper>