<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.team.mappers.ticket">
	
	<!-- 티켓 예약하기 -->
	<insert id="insertTicket">
		insert into tbl_ticket(
			ticket_no,
			user_no,
			timeline_no,
			seat_no,
			ticket_regdate,
			ticket_status
		) values (
			<!-- 영화관 코드 -->
			(
				select cinema_code from tbl_cinema
				where cinema_no in (
					select cinema_no from tbl_room_timeline
					where timeline_no = #{timeline_no}
				)
			) || '-' ||
			<!-- 상영관 스케줄 코드 -->
			(
				select timeline_code from tbl_room_timeline
				where timeline_no = #{timeline_no}
			) || '-' ||
			<!-- 티켓 고유 코드 -->
			(select substr(SYS_GUID(),0,16) from dual),
			#{user_no},
			#{timeline_no},
			#{seat_no},
			sysdate,
			#{ticket_status}
		)
	</insert>
	
	<!-- 발급된 (유저별, 상영관 스케줄 별) 티켓 리스트 조회 -->
	<select id="selectTicketList" resultType="map">
		select * from tbl_ticket ticket
		left outer join tbl_room_timeline timeline
		on ticket.timeline_no = timeline.timeline_no
		left outer join tbl_room_seat seat
		on ticket.seat_no = seat.seat_no
		<choose>
			<when test="search_column == 'room_no'">
				where timeline.timeline_no in (
					select timeline_no from tbl_room_timeline
					where ${search_column} = #{search_data}
				)
			</when>
			<otherwise>
				where ticket.${search_column} = #{search_data}
			</otherwise>
		</choose>
		order by ${order_column} ${order_type}
	</select>
	
	<!-- 티켓 정보 조회 -->
	<select id="selectTicket" resultType="map">
		select * from tbl_ticket ticket
		left outer join tbl_room_timeline timeline
		on ticket.timeline_no = timeline.timeline_no
		left outer join tbl_room_seat seat
		on ticket.seat_no = seat.seat_no
		where ticket.ticket_no = #{ticket_no}
	</select>
	
	
	<!-- 티켓 예약 수정 -->
	<update id="updateTicketStatus">
		update tbl_ticket set
			ticket_status = #{ticket_status}
		where ticket_no = #{ticket_no}
	</update>
	
	<!-- 임희열 : 유저 영화 예매 정보 목록조회 -->
	<select id="selectTicketUserList" resultType="TicketUserVo">
		select 
			a.ticket_no, a.user_no, a.ticket_regdate , 
			b.movie_begin_date, b.movie_finish_date, b.movie_code,
			c.cinema_name, 
			d.seat_x, d.seat_y,
			e.room_type_name,
			f.room_name, f.room_floor,
			g.movie_name, g.movie_image_name
		from 
			tbl_ticket a, tbl_room_timeline b, tbl_cinema c, tbl_room_seat d, 
			tbl_room_type e, tbl_cinema_room f, tbl_movie g
		where 
			a.timeline_no = b.timeline_no 
			and b.cinema_no = c.cinema_no
			and b.room_no = d.room_no 
			and b.room_type_code = e.room_type_code
			and b.cinema_no = f.cinema_no
			and b.room_no = f.room_no
			and b.movie_code = g.movie_code
			and a.user_no = #{user_no}
	</select>
	
	<!-- 임희열 : 티켓번호로 유저 영화 예매 정보 조회 -->
	<select id="selectTicketUserListByTicketno" resultType="TicketUserVo">
		select 
			a.ticket_no, a.user_no, a.ticket_regdate , 
			b.movie_begin_date, b.movie_finish_date, b.movie_code,
			c.cinema_name, 
			d.seat_x, d.seat_y,
			e.room_type_name,
			f.room_name, f.room_floor,
			g.movie_name, g.movie_image_name
		from 
			tbl_ticket a, tbl_room_timeline b, tbl_cinema c, tbl_room_seat d, 
			tbl_room_type e, tbl_cinema_room f, tbl_movie g
		where 
			a.timeline_no = b.timeline_no
			and b.cinema_no = c.cinema_no
			and b.room_no = d.room_no 
			and b.room_type_code = e.room_type_code
			and b.cinema_no = f.cinema_no
			and b.room_no = f.room_no
			and b.movie_code = g.movie_code
			and a.user_no = #{user_no} 
			and a.ticket_no = #{ticket_no}
	</select>
</mapper>