<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.team.mappers.user">
	
	<!-- 회원 추가 -->
	<insert id="insertUser">
		insert into tbl_user
			(userno, userid, userpw, nickname, username, email, address, cellphone, profile_image, point)
		values
			(seq_user_userno.nextval, 
			#{userid}, 
			#{userpw}, 
			#{nickname}, 
			#{username}, 
			#{email, jdbcType=VARCHAR}, 
			#{address, jdbcType=VARCHAR}, 
			#{cellphone, jdbcType=VARCHAR}, 
			#{profile_image, jdbcType=VARCHAR},
			#{point})
	</insert>
	
	<!-- 간편로그인 회원 추가 -->
	<insert id="insertSnsUser">
		insert into tbl_user
			(userno, userid, nickname, username, cellphone, profile_image, sns_id, sns_type, sns_connect_date)
		values
			(seq_user_userno.nextval, 
			#{userid},
			#{nickname, jdbcType=VARCHAR}, 
			#{username}, 
			#{cellphone, jdbcType=VARCHAR}, 
			#{profile_image, jdbcType=VARCHAR},
			#{sns_id},
			#{sns_type},
			sysdate)
	</insert>
	
	<!-- 아이디로 회원 조회 -->
	<select id="selectUserById" resultType="UserVo">
		select * from tbl_user
		where userid= #{userid}
	</select>
	
	<!-- 유저번호로 회원 조회 -->
	<select id="selectUserByUserno" resultType="UserVo">
		select * from tbl_user
		where userno = #{userno}
	</select>
	
	<!-- 아이디, 비밀번호로 회원 조회 -->
	<select id="selectUserByIdAndPwd" resultType="UserVo">
		select * from tbl_user
		where 
		userid= #{userid} 
		and userpw = #{userpw}
		and user_status = '1'
	</select>
	
	<!-- 닉네임으로 회원 조회 -->
	<select id="selectUserByNickname" resultType="UserVo">
		select * from tbl_user
		where nickname= #{nickname}
	</select>	
		
	<!-- 이메일과 아이디로 회원 조회 -->
	<select id="selectUserByEmailAndUserid" resultType="UserVo">
		select * from tbl_user
		where email = #{email} and userid = #{userid}
	</select>
	
	<!-- 간편로그인 아이디와 종류로 회원 조회 -->
	<select id="selectUserBySnsIdAndType" resultType="UserVo">
		select * from tbl_user
		where sns_id = #{sns_id} and sns_type = #{sns_type}
	</select>
	
	<!-- 회원 이름과 이메일로 회원 조회 -->
	<select id="selectUserByUsernameAndEmail" resultType="UserVo">
		select * from tbl_user
		where username= #{username} and email = #{email}
	</select>

	<!-- 회원 번호와 비밀번호로 회원 조회 -->
	<select id="selectUserByUsernoAndUserpw" resultType="UserVo">
		select * from tbl_user
		where userno = #{userno} and userpw = #{userpw}
	</select>
		
	<!-- 유저 목록 조회 -->
	<select id="userList" resultType="UserVo">
		select * from tbl_user
		order by reg_date desc 
	</select>
	
	<!-- 총 유저 수 조회 -->
	<select id="getCountUserList" resultType="int">
		select count(*) from tbl_user
		where user_status = 1
		order by reg_date desc
	</select>
	
	<!-- 기존유저 목록 조회 -->
	<select id="originUserList" resultType="UserVo">
		select * from(
			select rownum rnum, a.* from (
				select * from tbl_user
				where sns_type is null
				<if test='searchType != null and searchType != "" and keyword != null and keyword != ""'>
					<choose>
						<when test='searchType == "i"'>
							and userid like '%' || #{keyword} || '%'	
						</when>
						<when test='searchType == "u"'>
							and username like '%' || #{keyword} || '%'
						</when>
						<when test='searchType == "n"'>
							and nickname like '%' || #{keyword} || '%'
						</when>
						<when test='searchType == "d"'>
							and reg_date like '%' || #{keyword} || '%'
						</when>
					</choose>
				</if>
				order by reg_date desc 
			) a
		)where rnum between #{startRow} and #{endRow}
	</select>
	
	<!-- 기존유저 수 조회 -->
	<select id="getCountOriginUserList" resultType="int">
		select count(*) from tbl_user
		where sns_type is null
		<if test='searchType != null and searchType != "" and keyword != null and keyword != ""'>
			<choose>
				<when test='searchType == "i"'>
					and userid like '%' || #{keyword} || '%'	
				</when>
				<when test='searchType == "u"'>
					and username like '%' || #{keyword} || '%'
				</when>
				<when test='searchType == "n"'>
					and nickname like '%' || #{keyword} || '%'
				</when>
				<when test='searchType == "d"'>
					and reg_date like '%' || #{keyword} || '%'
				</when>
			</choose>
		</if>
	</select>
	
	<!-- 간편로그인유저 목록 조회 -->
	<select id="snsUserList" resultType="UserVo">
		select * from(
			select rownum rnum, a.* from (
				select * from tbl_user
				where sns_type is not null
				<if test='searchType != null and searchType != "" and keyword != null and keyword != ""'>
					<choose>
						<when test='searchType == "i"'>
							and sns_id like '%' || #{keyword} || '%'	
						</when>
						<when test='searchType == "u"'>
							and username like '%' || #{keyword} || '%'
						</when>
						<when test='searchType == "p"'>
							and sns_type like '%' || #{keyword} || '%'
						</when>
						<when test='searchType == "d"'>
							and sns_connect_date '%' || #{keyword} || '%'
						</when>
					</choose>
				</if>
				order by sns_connect_date desc 
			) a
		)where rnum between #{startRow} and #{endRow}
	</select>

	<!-- 간편로그인유저 수 조회 -->
	<select id="getCountSnsUserList" resultType="int">
		select count(*) from tbl_user
		where sns_type is not null
		<if test='searchType != null and searchType != "" and keyword != null and keyword != ""'>
			<choose>
				<when test='searchType == "i"'>
					and userid like '%' || #{keyword} || '%'	
				</when>
				<when test='searchType == "u"'>
					and username like '%' || #{keyword} || '%'
				</when>
				<when test='searchType == "n"'>
					and nickname like '%' || #{keyword} || '%'
				</when>
				<when test='searchType == "d"'>
					and reg_date like '%' || #{keyword} || '%'
				</when>
			</choose>
		</if>
	</select>
	
	<!-- 각 간편로그인 유저 수 조회 -->
	<select id="getCountEachSnsUserList" resultType="int">
		select count(*) from tbl_user
		where sns_type = #{sns_type}
	</select>
		
	<!-- 유저 정보 수정 -->
	<update id="updateUser">
		update tbl_user set
			nickname = #{nickname},
			email = #{email},
			address = #{address, jdbcType=VARCHAR},
			cellphone = #{cellphone, jdbcType=VARCHAR},
			profile_image = #{profile_image, jdbcType=VARCHAR},
			mod_date = sysdate
		where userid = #{userid}
	</update>
	
	<!-- 유저 비밀번호 수정 -->
	<update id="updateUserpw">
		update tbl_user set
			userpw = #{userpw},
			mod_date = sysdate
		where userid = #{userid}
	</update>
	
	<!-- 유저 포인트 수정 -->
	<update id="updateUserPoint">
		update tbl_user set
			point = point + #{point}
		where userno = #{userno}
	</update>
	
	<!-- 유저 프로필사진 수정 -->
	<update id="updateProfileImage">
		update tbl_user set
			profile_image = #{profile_image, jdbcType=VARCHAR}
		where userno = #{userno}
	</update>
		
	<!-- 유저 삭제 -->
	<update id="deleteUser">
		update tbl_user 
			set user_status='0'
		where userno = #{userno}
	</update>
</mapper>