<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.team.mappers.user">
	
	<!-- 회원 추가 -->
	<insert id="insertUser">
		insert into tbl_user
			(userno, userid, userpw, nickname, username, email, address, cellphone, profile_image)
		values
			(seq_user_userno.nextval, 
			#{userid}, 
			#{userpw}, 
			#{nickname}, 
			#{username}, 
			#{email, jdbcType=VARCHAR}, 
			#{address, jdbcType=VARCHAR}, 
			#{cellphone, jdbcType=VARCHAR}, 
			#{profile_image, jdbcType=VARCHAR})
	</insert>
	
	<!-- 아이디로 회원 조회 -->
	<select id="selectUserById" resultType="UserVo">
		select * from tbl_user
		where userid= #{userid}
	</select>
	
	<!-- 아이디, 비밀번호로 회원 조회 -->
	<select id="selectUserByIdAndPwd" resultType="UserVo">
		select * from tbl_user
		where userid= #{userid} and userpw = #{userpw}
	</select>
	
	<!-- 닉네임으로 회원 조회 -->
	<select id="selectUserByNickname" resultType="UserVo">
		select * from tbl_user
		where nickname= #{nickname}
	</select>	
	
	<!-- 유저 목록 조회 -->
	<select id="userList" resultType="UserVo">
		select * from tbl_user
		order by reg_date desc 
	</select>
	
	<!-- 유저 정보 수정 -->
	<update id="updateUser">
		update tbl_user set
			nickname = #{nickname},
			address = #{address, jdbcType=VARCHAR},
			cellphone = #{cellphone, jdbcType=VARCHAR}
		where userid = #{userid}
	</update>
	
	<!-- 유저 삭제 -->
	<update id="deleteUser">
		update tbl_user 
			set user_status='0'
		where userid = #{userid}
	</update>
</mapper>