<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.team.mappers.visitNumber">
	<insert id="insertVisitno">
		insert into tbl_visit_number
			(visitno, year, month, day, day_of_week, visit_number)
		values
			(seq_visit_number_visitno.nextval, #{year}, #{month}, #{day}, #{day_of_week, jdbcType=VARCHAR}, #{visit_number})
	</insert>
</mapper>