<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.team.mappers.winner">

	<!-- 글 등록 -->
	<insert id="insert">
		insert into tbl_winner
			(winner_no, winner_title, winner_content, winner_image)
		values
			(seq_winner_winnerno.nextval, #{winner_title}, #{winner_content}, #{winner_image, jdbcType=VARCHAR})
	</insert>
	
	<!-- 글 수정 -->
	<update id="modify">
		update tbl_winner set
			winner_title = #{winner_title},
			winner_content = #{winner_content},
			winner_image = #{winner_image, jdbcType=VARCHAR}
		where winner_no = #{winner_no}
	</update>
	
	<!-- 글 삭제 -->
	<delete id="delete">
		delete from tbl_winner
		where winner_no = #{winner_no}
	</delete>
	
	<!-- 글 목록 -->
	<select id="list" resultType="WinnerVo">
		select * from 
			(select rownum rnum, a.*from
    			(select * from tbl_winner) a)
		where rnum between #{startRow} and #{endRow}
	</select>
	
	<!-- 글 읽기 -->
	<select id="readContent" resultType="WinnerVo">
		select * from tbl_winner
		where winner_no = #{winner_no}
	</select>
	
	<!-- 조회수 증가 -->
		<update id="viewConuntUpdate">
			update tbl_winner set
				winner_count = winner_count + 1
			where winner_no = #{winner_no}
		</update>
	
	<!-- 글 갯수 -->
	<select id="getCount" resultType="int">
		select count(*) from tbl_winner
	</select>
	
	<!-- 검색 조건 -->
		<sql id="search">
			<if test="searchType != null and keyword != null">
    			<choose>
    				<when test='searchType == "t"'>
    					where title like '%' || #{keyword} || '%'
    				</when>
    				<when test='searchType == "c"'>
    					where content like '%' || #{keyword} || '%'
    				</when>
    				<when test='searchType == "w"'>
    					where writer like '%' || #{keyword} || '%'
    				</when>
    				<when test='searchType == "tc"'>
    					where title like '%' || #{keyword} || '%'
    					or    content like '%' || #{keyword} || '%'
    				</when>
    				<when test='searchType == "tcw"'>
    					where title like '%' || #{keyword} || '%'
    					or    content like '%' || #{keyword} || '%'
    					or    writer like '%' || #{keyword} || '%'
    				</when>
    			</choose>
    		</if> 
		</sql>

</mapper>